<main class="text-center text-bg-dark">
  <div class="container-md bg-gradient-to-br from-stone-200 to-gray-400 py-12">
    <h1 class="text-4xl font-bold mb-12">Potenciá tus ideas!</h1>
    <p class="font-bold text-xl max-w-2xl m-auto">
      Manguito es una plataforma de financiamiento colectivo donde creadores de
      contenido, ONGs o dueños de proyectos, puedan registrarse para recibir
      donaciones online.
    </p>
    <form *ngIf="!user" class="flex items-center justify-center gap-3 pb-6 pt-10">
        <div class="relative">
          <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
            <span class="input-group-text" >manguito.app/ </span>
          </div>
          <input
            type="text"
            class="block w-full form-control-url"
            [(ngModel)]="url"
            [ngModelOptions]="{standalone: true}"
          />
        </div>
      <div class="col-sm-3">
        <button class="btn btn-primary cursor-pointer" (click)="goToRegister()">Crear cuenta</button>
      </div>
    </form>
  </div>
  <div class="container mx-auto my-10 flex flex-col gap-12">
    <app-emprendimientos-destacados></app-emprendimientos-destacados>
    <app-emprendimientos-mas-donados></app-emprendimientos-mas-donados>
  </div>
</main>
