<div class="container-md text-center d-flex justify-content-center">
  <div class="mt-5" style="max-width: 500px; min-width: 350px;">
    <form (ngSubmit)="onLogin(loginForm)" #loginForm="ngForm">
      <h4 class="text-bold mb-4"><strong>Iniciar sesión</strong></h4>
      <div class="form-floating mb-3">
        <input
          type="email"
          class="form-control form-control-lg"
          id="floatingInput"
          placeholder="name@example.com"
          name="mail"
          ngModel
        />
        <label for="floatingInput">Email address</label>
      </div>
      <div class="form-floating mb-3">
        <input
          type="password"
          class="form-control"
          id="floatingPassword"
          placeholder="Password"
          name="password"
          ngModel
        />
        <label for="floatingPassword">Password</label>
      </div>
      <div class="d-grid gap-2">
        <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
      </div>
      <div class="mt-2">
        <p class="text-start">¿No estás registrado? <a class="text-muted" routerLink="/register">Crear cuenta</a></p>
      </div>
    </form>
  </div>
</div>
