<div class="text-left flex justify-center">
  <div class="mt-5" style="max-width: 500px; min-width: 350px">
    <form (ngSubmit)="onRegister(registerForm)" #registerForm="ngForm" class="flex flex-col gap-7">
      <h4 class="text-2xl font-bold text-center">Crear cuenta</h4>
      <!--      <label class="form-label">Imagen de perfil</label>-->
      <!--      <div class="flex items-center justify-center w-5 mb-3">-->
      <!--        <label for="pfp-file"-->
      <!--               class="flex flex-col items-center justify-center w-full h-full border-2 border-gray-300 border-dashed rounded-full cursor-pointer bg-gray-50 hover:bg-gray-100">-->
      <!--          <div *ngIf="!pfpLoaded" class="flex flex-col items-center justify-center pt-5 pb-6">-->
      <!--            <svg aria-hidden="true" class="w-10 h-10 mb-3 text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24"-->
      <!--                 xmlns="http://www.w3.org/2000/svg">-->
      <!--              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"-->
      <!--                    d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12"></path>-->
      <!--            </svg>-->
      <!--            <p class="mb-2 text-sm text-gray-500"><span class="font-semibold">Click to upload</span> or drag and drop</p>-->
      <!--            <p class="text-xs text-gray-500">SVG, PNG, JPG or GIF (MAX. 16MB)</p>-->
      <!--          </div>-->
      <!--          <img [src]="pfpSrc"/>-->
      <!--          <input id="pfp-file" type="file" class="hidden" (change)="onPfpSelected($event)"/>-->
      <!--        </label>-->
      <!--      </div>-->
      <!--      <label class="form-label">Banner</label>-->
      <!--      <div class="flex items-center justify-center w-1/2 mb-3">-->
      <!--        <label for="dropzone-file"-->
      <!--               class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 hover:bg-gray-100">-->
      <!--          <div *ngIf="!bannerLoaded" class="flex flex-col items-center justify-center pt-5 pb-6">-->
      <!--            <svg aria-hidden="true" class="w-10 h-10 mb-3 text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24"-->
      <!--                 xmlns="http://www.w3.org/2000/svg">-->
      <!--              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"-->
      <!--                    d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12"></path>-->
      <!--            </svg>-->
      <!--            <p class="mb-2 text-sm text-gray-500"><span class="font-semibold">Click to upload</span> or drag and drop</p>-->
      <!--            <p class="text-xs text-gray-500">SVG, PNG, JPG or GIF (MAX. 16MB)</p>-->
      <!--          </div>-->
      <!--          <img [src]="bannerSrc"/>-->
      <!--          <input id="dropzone-file" type="file" class="hidden" (change)="onBannerSelected($event)"/>-->
      <!--        </label>-->
      <!--      </div>-->
      <div class="">
        <label for="nombre" class="form-label">Nombre</label>
        <input
          id="nombre"
          name="nombreEmprendimiento"
          class="form-control w-full"
          placeholder="Emprendimiento"
          ngModel
        >
      </div>
      <div class="">
        <label for="descripcion" class="form-label">Descripción</label>
        <textarea
          id="descripcion"
          name="descripcion"
          class="form-control-textarea w-full"
          rows="3"
          ngModel
        ></textarea>
      </div>
      <div>
        <app-categorias-autocomplete (onChange)="setCategories($event)" [disableAdd]="true"></app-categorias-autocomplete>
      </div>
      <div class="flex flex-col gap-3">
        <button type="submit" class="btn bg-primary">Registrarse</button>
      </div>
    </form>
  </div>
</div>
