<div class="text-center flex justify-center">
  <div class="mt-5" style="max-width: 500px; min-width: 350px">
    <form (ngSubmit)="onRegister(registerForm)" #registerForm="ngForm" class="flex flex-col gap-7">
      <h4 class="text-2xl font-bold">Crear cuenta</h4>
      <div class="relative">
        <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
          <span class="input-group-text" id="basic-addon3">manguito.app/ </span>
        </div>
        <input
          type="text"
          class="block w-full pl-20 p-2.5 form-control-url"
          id="basic-url"
          aria-describedby="basic-addon3"
          [(ngModel)]="url"
          required
          name="url"
        />
      </div>
      <input
        type="email"
        class="form-control"
        placeholder="Email"
        name="mail"
        ngModel
        required
      />
      <input
        type="password"
        class="form-control"
        placeholder="Password"
        name="password"
        ngModel
        required
        minlength="6"
      />
      <input
        type="password"
        name="passwordConfirmation"
        class="form-control"
        placeholder="Confirm password"
        ngModel
        required
        minlength="6"
      />
      <div class="flex flex-col gap-3">
        <button type="submit" class="btn bg-primary disabled:bg-gray-200" [disabled]="loading">Registrarse</button>
        <p class="text-sm text-start font-semibold">
          ¿Ya tenes cuenta? <a class="underline text-gray-500" routerLink="/login">Iniciar sesión</a>
        </p>
      </div>
    </form>
  </div>
</div>
