<div class="container-md d-flex justify-content-center">
  <div class="row w-100 g-5 mt-1">
    <div class="col col-3">
      <div class="list-group text-end" role="tablist">
        <a class="list-group-item list-group-item-action" routerLink="cuenta" routerLinkActive="active" role="tab">
          Perfil
        </a>
        <a class="list-group-item list-group-item-action" routerLink="redes-sociales" routerLinkActive="active" role="tab">
          Redes sociales
        </a>
        <a class="list-group-item list-group-item-action" routerLink="pagos" routerLinkActive="active" role="tab">
          Pagos
        </a>
        <a class="list-group-item list-group-item-action" routerLink="otros" routerLinkActive="active" role="tab">
          Otros
        </a>
      </div>
    </div>
    <div class="col col-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
