<div class="container-md d-flex justify-content-center">
  <div class="grid grid-cols-12 w-full mt-1 gap-10">
    <div class="col-span-4">
      <ul class="list-group text-end text-gray-400 font-bold text-xl">
        <li><a routerLink="cuenta" routerLinkActive="active" role="tab">
          Perfil
        </a></li>
        <li><a routerLink="redes-sociales" routerLinkActive="active"
               role="tab">
          Redes sociales
        </a></li>
        <li><a routerLink="pagos" routerLinkActive="active" role="tab">
          Pagos
        </a></li>
        <li><a routerLink="otros" routerLinkActive="active" role="tab">
          Otros
        </a></li>
      </ul>
    </div>
    <div class="col-span-8">
      <div *ngIf="loading" class="flex justify-center items-center w-1/2 h-full">
        <mat-spinner></mat-spinner>
      </div>
      <ng-template [ngIf]="!loading">
        <router-outlet></router-outlet>
      </ng-template>
    </div>
  </div>
</div>
