.social-media-btn {
  @apply transition-all bg-opacity-70 bg-black rounded-full;
  aspect-ratio: 1;
  padding: 5px;
}

.social-media-btn:hover {
  padding: 6px;
}

.social-media-btn img {
  width: 24px;
  height: 24px;
}

.table-top-donadores td{
  padding: 0.15rem 1rem;
}

.table-top-donadores thead {
  @apply font-semibold;
}
