<div *ngIf="loading" class="flex justify-center items-center w-full h-full">
  <mat-spinner></mat-spinner>
</div>
<ng-template [ngIf]="!loading">
  <div id="banner" class="relative bg-amber-300" style="height: 200px">
    <img class="absolute" [src]="emprendimiento.banner"
         style="height: 200px; width: 100%; object-fit: cover" alt=" ">
    <div class="absolute w-full" style="top: 78%">
      <div class="container mx-auto flex justify-between">
        <div class="flex items-center">
          <div style="width: 80px" class="rounded-full border-4 border-white bg-white aspect-square">
            <img style="width: 80px" class="rounded-full object-cover aspect-square" [src]="emprendimiento.imagenPerfil || 'assets/default_user_avatar.png'"
                 alt=" "/>
          </div>
          <div class="px-3 flex flex-col justify-center gap-1 mt-2 flex-grow">
            <h4 class="text-white text-xl bg-black bg-opacity-70 rounded-full font-bold w-fit px-2 py-0.5 mb-1">
              {{ emprendimiento.nombreEmprendimiento }}
            </h4>
            <mat-chip-listbox *ngIf="emprendimiento">
              <mat-chip *ngFor="let cat of emprendimiento.categorias">
                {{ cat }}
              </mat-chip>
            </mat-chip-listbox>
          </div>
        </div>
        <div class="flex gap-2 justify-end items-start">
          <a *ngFor="let redSocial of emprendimiento.redesSociales" class="social-media-btn" [href]="redSocial.url"
             target="_blank">
            <img [src]="getSocialMediaLogoUrl(redSocial.redSocial)" [alt]="redSocial.redSocial"/>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="md:container mx-auto mt-20">
    <div class="grid grid-cols-12 w-full gap-5 mt-1">
      <div class="col-span-6 flex flex-col gap-2">
        <div class="px-3 min-w-min rounded-md py-2">
          <h5 class="font-bold">Descripcion</h5>
          <p class="pt-3">{{ emprendimiento.descripcion }}</p>
        </div>
        <div class="p-3 flex items-center gap-1" *ngIf="!emprendimiento.ocultarManguitosRecibidos">
          <img src="assets/manguito.png" style="width: 20px; height: 20px" alt="Manguitos"/>
          <p><strong>×</strong> {{ emprendimiento.manguitosRecibidos }} recibidos</p>
        </div>
        <div *ngIf="topDonadores.length > 1" class="shadow-md rounded-md w-min p-2">
          <h4 class="px-3 pt-3 pb-1.5 font-bold">Top donadores</h4>
          <table class="table-top-donadores">
            <thead>
            <tr>
              <td>Pos.</td>
              <td>Nombre</td>
              <td>Cantidad</td>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let donador of topDonadores; let i = index">
              <td>{{i + 1}}</td>
              <td>{{donador.nombre}}</td>
              <td>{{donador.cantidadTotalManguitos}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="xl:col-span-3 md:col-span-6 sm:col-span-12">
        <form (ngSubmit)="onDonarManguitos(donacionForm)" #donacionForm="ngForm">
          <div class="px-3 w-full flex flex-col gap-4">
            <h5 class="font-bold">Me das un manguito?</h5>
            <div>
              <div class="flex gap-2 items-center">
                <img src="assets/manguito.png" style="width: 32px; height: 32px" alt="Manguitos"/>
                <p class="font-bold text-xl">×</p>
                <input class="form-control w-32" type="number" min="1" ngModel name="cantidad" required
                       [ngClass]="{'error-form': isErrorState(donacionForm.controls['cantidad'])}"
                >
              </div>
              <p class="ml-2 text-sm text-red-600 dark:text-red-500 text-left"
                 *ngIf="donacionForm.controls['cantidad'].hasError('required') && donacionForm.controls['cantidad'].dirty">
                Ingrese la cantidad de manguitos a donar</p>
              <p class="ml-2 text-sm text-red-600 dark:text-red-500 text-left"
                 *ngIf="donacionForm.controls['cantidad'].hasError('min')">
                La cantidad de manguitos debe ser por lo menos 1</p>
            </div>
            <div>
              <input class="form-control block w-full" placeholder="Nombre" name="nombre" ngModel required
                     [ngClass]="{'error-form': isErrorState(donacionForm.controls['nombre'])}"
              >
              <p class="ml-2 text-sm text-red-600 dark:text-red-500 text-left"
                 *ngIf="donacionForm.controls['nombre'].hasError('required') && donacionForm.controls['nombre'].dirty">
                Ingrese un nombre</p>
            </div>
            <input class="form-control block w-full" placeholder="Contacto (Opcional)" name="contacto" ngModel>
            <div>
              <textarea class="form-control-textarea block w-full" id="mensaje" placeholder="Dejame un mensaje..." name="mensaje"
                        ngModel maxlength="255"
                        [ngClass]="{'error-form': isErrorState(donacionForm.controls['mensaje'])}"
              ></textarea>
              <p class="ml-2 text-sm text-red-600 dark:text-red-500 text-left"
                 *ngIf="donacionForm.controls['mensaje'].hasError('maxlength')">
                Descripción tiene un máximo de 255 carácteres</p>
            </div>
            <p class="text-sm text-gray-500">Donar 1 manguito ({{ emprendimiento.precioManguito }} ARS)</p>
            <div class="d-grid">
              <button class="btn btn-primary block w-full disabled:bg-gray-200 disabled:text-gray-600"
                      [disabled]="!donacionForm.dirty|| donating">
                <span *ngIf="!donating">Donar manguitos</span>
                <span *ngIf="donating"><app-spinner></app-spinner>Donando...</span>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</ng-template>
