<main class="px-3 text-center text-bg-dark py-5">
  <div class="container-md">
    <h1 class="text-3xl font-bold">Potenciá tus ideas!</h1>
    <p class="lead">
      Manguito es una plataforma de financiamiento colectivo donde creadores de
      contenido, ONGs o dueños de proyectos, puedan registrarse para recibir
      donaciones online.
    </p>
    <form class="row">
      <div class="col-sm-9">
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon3">manguito.app/ </span>
          <input
            type="text"
            class="form-control"
            id="basic-url"
            aria-describedby="basic-addon3"
            [(ngModel)]="url"
            [ngModelOptions]="{standalone: true}"
          />
        </div>
      </div>
      <div class="col-sm-3">
        <a class="btn btn-lg btn-primary col" (click)="goToRegister()">Crear cuenta</a>
      </div>
    </form>
  </div>
</main>
