<main class="text-center text-bg-dark">
  <div class="container-md bg-gray-300">
    <h1 class="text-4xl font-bold p-10">Potenciá tus ideas!</h1>
    <p class="font-bold text-xl w-1/2 m-auto">
      Manguito es una plataforma de financiamiento colectivo donde creadores de
      contenido, ONGs o dueños de proyectos, puedan registrarse para recibir
      donaciones online.
    </p>
    <form class="flex items-center justify-center gap-3 pb-16 pt-10">
        <div class="relative">
          <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
            <span class="input-group-text" >manguito.app/ </span>
          </div>
          <input
            type="text"
            class="block w-full form-control-url"
            [(ngModel)]="url"
            [ngModelOptions]="{standalone: true}"
          />
        </div>
      <div class="col-sm-3">
        <a class="btn btn-lg bg-primary col" (click)="goToRegister()">Crear cuenta</a>
      </div>
    </form>
  </div>
</main>
